*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body::-webkit-scrollbar{
    display: none;
}

#main{
    
    height: 100%;
    width: 100%;
}
#page1{
    width: 100vw;
    height: 100vh;
    position: relative;
}
#page1 img{
    width: 100vw;
    height: 100vh;
    position: relative;
}
#navbar{
    position:absolute;
    width: 100vw;
    height: 30px;
    top: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
#navbar h1{
    position: absolute;
    font-size: 30px;
    top: 5px;
    left: 20px;
    font-family: cursive;
font-style: italic;

}
#navbar h2{
   position: relative;
    left: 300px;
    top: 10px;
    align-content: space-between;
    margin-left: 30px;
    font-size: 15px;
    

}
#navbar button{
    position: absolute;
    left: 900px;
    top: 8px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    width: 150px;
    border-radius: 30%;
}
.ri-home-3-line{
    position: absolute;
    left: 1100px;
    color: white;
    font-size: 30px;
}
.ri-cup-line{
    position: absolute;
    left: 1150px;
    color: white;
    font-size: 30px;
}
#right{
    position: absolute;
    top: 250px;
    color: white;
    left: 700px;
}
#right h1{
    font-size: 80px;
    font-style: oblique;
}
#right h2{
    font-size: 40px ;
    word-spacing: 10px;
}
#page2{
    width: 100vw;
    height: 60vh;
    position: relative;
}
#img2{
    position: absolute;
    height: 60vh;
    width: 100vw;
    z-index: 9;
    
    
}
#page2 img{
    position: absolute;
    z-index: 9999;
    overflow-y: hidden;
    height: 60vh;
right: 10px;


}

#top{
    position: absolute;
    color: rgba(76, 19, 19, 0.934);
    z-index: 999999;
}
#top h1{
    position: relative;
    top: 10px;
    font-style: oblique;
    left: 550px;
    display: flex;
    color: chocolate;
    flex-direction: row;
}
#top h2{
    position: relative;
    top: 20px;
    left: 550px;
   
}
#icon{
    position:relative;
    z-index: 9999;
  right: 0px;
   display: flex;
   flex-direction: row;
   
    
    
}
#icon img{
    position: absolute;
    display: flex;
    flex-direction: row;
    margin: 10px;
    width: 60px;
    height: 100px;

}
#img1{
    position: absolute; 
    width: 10px;
    height: 30px;
    left: 150px;
 top: 120px;
    
}
#img22{
    position: absolute;
    left: 400px;
    width: 10px;
    height: 30px;
    top: 120px;
}
#img3{
    position: absolute;
    left: 600px;
    width: 10px;
    height: 30px;
    top: 120px;
}
#img4{
    position: absolute;
    left:830px;
    width: 10px;
    height: 30px;
    top: 120px;
    
}
#img5{
    position: absolute;
    left: 1050px;
    width: 15px;
    height: 40px;
    top: 120px;
}
#icon h2{
    position: relative;
    top: 260px;
    font-weight:bolder;
    color: rgba(62, 34, 15, 0.811);
    display: flex;
    font-style: oblique;
   justify-content: space-around;
   word-spacing: 70px;
   margin-left: 130px;
    
}
#page3{
    width: 100vw;
    height: 60vh;
    position: relative;
    color: black;
    background-color: rgba(232, 186, 157, 0.382);
    /* backface-visibility: initial; */

}
#left{
    position: absolute;

}
#left img{
    position: absolute;
    width: 190px;
    height: 190px;
    left: 100px;
    top: 90px;
    border: 2px solid chocolate;
    padding: 2px;
    border-style: dotted;
    border-radius: 14%;
}
#right2{
    position: absolute;
   
    left: 350px;
    top: 70px;
}
#right2 h1{
    color: chocolate;
    font-size: 40px;
    font-style: italic;
}
#right2 h2{
    font-size: 50px ;
    word-spacing: 10px;
    font-style: oblique;
    color:rgba(57, 23, 23, 0.892);
}
#right2 h3{
    font-size: 20px;
    color:black;
 position: absolute;
 top: 110px;
 display: inline;
 width: 70vw;
}
#down{
    position: absolute;
    top: 250px;
    left: 350px;
    padding: 10px;
    word-spacing: 20px;
}

.cards{
    position: relative;
    height: 60vh;
    width: 100vw;
    background-color: chocolate;
    /* border: 2px solid red; */
    
}

.cards img{
    position: absolute;
    top: 10px;
    left: 10px;
    
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid black;
    
}
#card1{
    position: absolute;
    width: 400px;
    height: 200px;
    border: 2px solid white;
    left: 200px;
    top: 70px;
    border-style: dotted;
}
#card2{
    top: 70px;
    position: absolute;
    width: 400px;
    height: 200px;
    
    left: 700px;
    border: 2px solid white;
    border-style: dotted;
}
.cards h1{
    position: absolute;
    left: 90px;
    top: 30px;
    font-style: italic;
    color: rgba(57, 4, 4, 0.896);
}
.cards h2{
    position: absolute;
    left: 9px;
    top: 100px;
    font-size: 20px;
    color: black;
    
}

